#logo{
    width: 250px;
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: rgb(98, 105, 111);
    padding-left: 30px;
    font-size: 20px;

}

.container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #85cef6;
    width: 1340px;
    height: 70px;
}

.child1{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
}

.button{
    border-radius: 100px;
    height: 40px;
    border: none;
    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    font-size:medium;
    cursor: pointer;
}

.but1{
    background-color: white;
    border: black 1px solid;
    width: 150px;
    margin-right: 20px;
    color: black;
    margin-top: -15px;
}

.but2{
    background-color: rgb(18,34,49);
    width: 400px;
    color: white;
    margin-top: -15px;

}

.but1:hover{
    background-color: rgb(18,34,49);
    color: white;
}

.but2:hover{
    background-color: white;
    color: rgb(18,34,49);
}

body{
    font-family: 'plus Jakarta Sans', sans-serif;
}



.content{
    text-align: center;
    justify-content: center;
    line-height: 10px;
    align-items: center;
}

.content p{
    font-size: 45px;
    font-weight: bolder;

}

.content span{
    font-size: 20px;
}

.cards{
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: center;

}

.card{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px 10px 10px 20px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card p{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
} 

.sam1:hover{
    background-color: rgb(3, 23, 95);
    color: white;
}

.card-bottom{
    display: flex;
    gap: 10px;

}
.sam2:hover{
    background-color: rgb(14, 36, 231);
}
.sam3:hover{
    background-color: rgb(73, 199, 14);
    color: rgb(244, 241, 241);
}
.sam4:hover{
    background-color: rgb(223, 12, 181);
    color: rgb(255, 255, 255);
}

.sam5:hover{
    background-color: rgb(42, 26, 26);
    color: rgb(255, 255, 255);
}

.sam6:hover{
    background-color: rgb(248, 144, 0);
    color: rgb(255, 255, 255);
    
} 
.card:hover p,
.card:hover span {
    color: white;
}

.sam1 p, .text{
    color: rgb(7, 32, 255);
}
.sam2 p, .text1 {
    color: rgb(14, 36, 231);
}
.sam3 p, .text2 {
    color: rgb(73, 199, 14);
}

.sam4 p, .text3 {
    color: rgb(223, 12, 181);
}
.sam5 p, .text4 {
    color: rgb(42, 26, 26);
}
.sam6 p, .text5 {
    color: rgb(248, 144, 0);}



.card:hover .icon{
    content: url('./image/subdirectory_arrow_right_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png');
}

